main {
  background-color: white;
  max-width: 1000px;
  min-width: 380px;
  margin: auto;
  padding: 10px;
}
body {
  background-color: rgba(128, 128, 128, 0.106);
  flex-direction: column;
}

#youtube {
  background-color: rgba(255, 0, 0, 0.199);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
iframe {
  width: fit-content;
}

#fileUpload {
  
  width: 300px;
  padding: 20px;
  margin: 20px auto 30px auto;
  margin-bottom: 30px;
  text-align: center;
  border: 1px dotted black;
  

}
div > label {
  margin-bottom: 10px;
  background-color: antiquewhite;
}
div > input {
  width: 100%;
  padding-left: 10%;
  
}

#following,
#followers {
  display: block;
  margin-bottom: 30px;
}

#result-box {
  text-align: center;
  padding: 20px;
}
#unfollowers-listLeft {
  margin: 1px solid black;
  display: block;
  width: 50%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
#unfollowers-listRight {
  margin: 1px solid black;
  display: block;
  float: right;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 30px;
}

footer {
  background-color: rgba(185, 212, 212, 0.221);
  padding: 5px;
  width: 100%;
  margin-top: auto;
}
footer > div {
  text-align: center;
  padding: 8px;
}
#instagram_id {
  width: 40px;
}
#youtube_id {
  margin-bottom: -1px;
  width: 30px;
  margin-left: auto;
  margin-right: 10px;
}
#linkedin_id {
  width: 50px;
}
@media only screen and (max-width: 600px) {
}
